<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="io.packmule.cookies"
  version="0.1.0">
    <name>Cookies</name>
    <description>Get and set cookies from the CookieManager on Android.</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/cookies.js" name="cookies">
        <clobbers target="cordova.plugins.Cookies" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Cookies">
                <param name="android-package" value="io.packmule.cookies.Cookies"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/Cookies.java" target-dir="src/io/packmule/cookies" />
    </platform>
</plugin>
